# This is the jupyter notebook to create dataframe

ETL logics is implemented here

In [1]:
import os
import json
import pandas as pd
import numpy as np

# import some utility functions used in ETL process
from pydata import Importer, Transformer, Loader

In [2]:
# Load the arguments
# NOTE: This Jupyter is built to be run from Jupyters inside exploration folder.
# in order to run this jupyter separately please change the path to "arguments.json"
with open("jupymodule/arguments.json", "r") as fid:
    arguments = json.load(fid)

In [3]:
data_folder = "../../data"

## 1.Load the Data

In [4]:
file_path = os.path.join(data_folder, "station_data_dataverse.csv")

In [5]:
df = Importer.read_csv(file_path)
df = Transformer.basic_cleanup(df)

In [6]:
df.head(2)

,sessionId,kwhTotal,dollars,created,ended,startTime,endTime,chargeTimeHrs,weekday,platform,...,managerVehicle,facilityType,Mon,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip
0,1366563,7.78,0.0,0014-11-18 15:40:26,0014-11-18 17:11:04,15,17,1.510556,Tue,android,...,0,3,0,1,0,0,0,0,0,0
1,3075723,9.74,0.0,0014-11-19 17:40:26,0014-11-19 19:51:04,17,19,2.177222,Wed,android,...,0,3,0,0,1,0,0,0,0,0

## Transform Data

In [7]:
## chage the format of created and ended
# 0014-11-18 15:40:26 => 2014-11-18 15:40:26
df = Transformer.reformat_datetime(df)

In [8]:
# put userId as a second colum
df.insert(0, "userId", df.pop("userId"))

In [9]:
# drop columns with missig values with the given threshold
# df = Transformer.drop_columns_with_nulls(df, threshold=30)

# drop duplicates
df = df.drop_duplicates()

## Load the data

In [ ]:
Loader.write_data_to_csv(df, os.path.join(data_folder, "cleaned_ev_charge_data.csv"))